body {
  font-family: "Open Sans",Helvetica,Arial,sans-serif;
  padding: 0;
  margin: 0;
  color: #555;
}

.site-branding {
  background: #6B8E9F;
  min-height: 70px;
}

.custom-logo {
  background-image: url("https://www.guadec.org/wp-content/uploads/2014/10/guadec-logo-white.png");
  background-repeat: no-repeat;
  background-position: center center;
  width: 176px;
  height: 53px;
  margin: auto;
  padding: 40px;
}

.navigation {
  text-align: center;
  padding-bottom: 30px;
}

.navigation a {
  color: #F4F4F4;
  text-decoration: none;
  padding: 0px 10px;
}

.content {
  max-width: 554px;
  margin: auto;
  padding-top: 20px;
}

#loginBtn,
#logoutBtn,
.submit-talk {
  border: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 5px 15px;
}

#loginBtn,
#logoutBtn {
  background: #F4F4F4;
  color: #6B8E9F;
}

.submit-talk {
  background: #6B8E9F;
  color: #F4F4F4;
}

.button {
  display: inline-block;
  background: #6B8E9F;
  border-radius: 5px;
  padding: 10px 15px;
}

.button a {
  color: #fff;
  text-decoration: none;
}

.buttons {
  margin: 10px 0;
}

.submission-form {
  margin: auto;
}

.submission-form tr td {
  padding-bottom: 7px;
  padding-top: 5px;
}

.submission-form tr td:first-child {
  text-align: right;
  vertical-align: top;
  padding-right: 10px;
  font-weight: bold;
}

.submission-form tr td input[type=text],
.submission-form tr td textarea {
  width: 400px;
  border: 1px solid #555;
  padding: 3px;
}

.submission-form tr td textarea {
  height: 200px;
}

.submission-form tr td .submit-talk {
  float: right;
  margin-top: 10px;
}

.submission-form p.note {
  font-size: 11px;
  font-style: italic;
  margin-top: 4px;
  margin-bottom: 0;
}

.submission-form tr td input[type="text"].reg-fee {
  width: 100px;
}

.validation {
  margin: 0 auto;
  background-color: #f25050;
  color: #fff;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 12px;
  text-align: center;
}
