{{#if submission_error}}
<div class="validation">Something went wrong. Please make sure you have filled all required fields.</div>
{{/if}}

<form action="/registration/register" method="post">
<table class="submission-form">
<tr><td>Your name</td><td><input type="text" name="name" value="{{user.name}}" {{#if user }}disabled{{/if}}/></td></tr>
<tr><td>IRC nickname</td><td><input type="text" name="irc" value="{{registration.irc}}" placeholder="(optional)"></td></tr>
<input type="hidden" name="is_public" value="true">


<tr><td>Registration fee</td><td>
{{#unless ask_regfee}}
Registered
{{else}}
{{>currency_selector}} <input type="text" name="regfee" class="reg-fee" value="{{config.registration.default_amount}}">
<p class="note">Feel free to support us by donating as much as you're able to.<br />
We can only provide receipts for payments over {{currency_symbol config.registration.main_currency}}{{min_amount_main_currency}} or an equivalent value in another currency.
{{/unless}}</p>
</tr>

<tr><td>Gender</td><td><input type="text" name="gender" value="{{registration.gender}}" placeholder="(optional: male, female, genderqueer, etc.)"><br/><p class="note">We will not publish gender data.<br/> It will only be used for attendee statistics and for an invitation to the women's dinner.</p></td></tr>

<tr><td>Country</td><td><input type="text" name="country" value="{{registration.country}}" placeholder="(optional)"><br/><p class="note">We will not publish country data.<br/> It will only be used for attendee statistics.</p></td></tr>


<tr><td>&nbsp;</td><td><input type="checkbox" value="false" name="is_public" 
{{#unless registration.is_public}}
checked
{{/unless}}
> Hide my name in the public list of attendees</td></tr>
<tr><td>&nbsp;</td>
<td><input class="submit-talk" type="submit" value="Submit" /></td>
</tr>

</table>
</form>
